tml, body{
	margin:0;
	padding:0;
}
html{
	height:100%;
}

body{
	background-color:#fcfcfc;
	box-sizing: border-box;
	font-family: Times New Roman;
	color:#0d0c0c;
	min-height:100%;
	position:relative;
}
header{
	text-align:center;
	background: url('tyl2.jpg') fixed;
	padding: 35px 0 20px;
}
nav{
 font-size:30px;
 text-align:center;
 padding:15px 0;
 background-color:#1f1d1d;
}
a.gor{
	display:inline-block;
	width:30%;
	color:white;
}


.dol{
	color:#1a1919;
	text-align:center;
	height:100px;
	padding-bottom:200px;
	padding-top:125px;
	margin-left: 65px;
	margin-right: 65px;
}
footer{
	text-align:center;
	height:110px;
	position:absolute;
	bottom:0;
	width:100%;
}
a{
	color:#0d0c0c;
}
a:hover{
	text-decoration:underline;
	color:#262626;
	text-shadow: 0.5px 0.5px silver;
}
#404 h1{
font-size:250%;
}
#ben {
background:none;
color:#ffffff;
font-weight:800;
font-size:58px;
text-shadow: 2px 2px black;
}
}
.proj{
	margin:0.2%;
	display:inline-block;
}
.sc{
	width: 400px;
	height: 220px;
	border: 2px solid silver;
	border-radius: 2px;
	margin: auto;
	float:left;
	background-repeat:no-repeat;
	background-size:cover;
}
.sc h3{
	opacity: 0;
	text-align: center;
	padding: 10%;
	transition: 0.5s;
}
.sc:hover h3{
	background: rgba(0,0,0, 0.2);
	opacity: 1;
}
.sc:hover{
	border-color:blue;
}
@media (max-width:625px){
	  a.gor{
		  display:inline-block;
		  width:100%;
	  }
	  .sc{
		  width:220px;
		  height:220px;
	  }
	  .sc h3{
		  opacity:1;
		  background: rgba(0,0,0, 0.2);
	  }
  }
